.contact {

	@mixin atSmall {
		position: absolute;
		left: 0;
		right: 0;
		bottom: -18rem;
	}

	&__container {
		/*float: right;*/
		text-align: right;
	}

	&__title {
		font-size: 3rem;
		margin-bottom: 1rem;
	}

	&__detail {
		font-size: 3rem;
		margin: .5rem 0;

		a {
			text-decoration: none;

		}

		&:hover a {
			text-decoration: underline;
		}
	}

	@mixin atMedium {

		&__title {
			font-size: 5rem;
			margin-bottom: 1.5rem;
		}

		&__detail {
			font-size: 4rem;
			margin: .5rem 0;
		}
	}

	.glitchy {
		height: 6rem;

		& >* {
			right: 0;
		}
	}

	@mixin atMedium {
		.glitchy {
			height: 10rem;
		}
	}
}