.page-section {
	padding: 6rem 0;

	@mixin atMedium {
		padding: 12rem 0;
	}

	&--no-t-padding-until-medium {
		padding-top: 0;
	}

	@mixin atMedium {
		&--no-t-padding-until-medium {
			padding-top: 12rem;
		}
	}
}