.primary-nav {

	margin-top: 1rem;

	@mixin atMedium {
		margin-top: 0;
	}

	&--pull-right {
		float: right;
	}

	ul {
		padding: 0;
	}

	li {
		list-style: none;
	}

	li a {
		text-decoration: none;
		font-family: 'Arial', sans-serif;
		font-style: italic;
	}

	@mixin atSmall {
		li a {
			padding-right: 2rem;
			font-size: 1.2rem;
		}
	}

	@mixin atMedium {
		li a {
			font-size: 1rem;
		}
	}
}