.row {
	@mixin clearfix;

	& > div {
		padding-left: 15px;
		padding-right: 15px;
	}

	@mixin atMedium {
		&__medium-12 {
			width: 100%;
			float: left;
		}

		&__medium-6 {
			width: 50%;
			float: left;
		}
	}
}