.wrapper {
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	overflow: hidden;

	@mixin atMedium {

		&--t-margin {
			margin-top: 2.5rem
					}
	}

	&--primary-nav {
		@mixin clearfix;
	}

	&--contact {
		@mixin clearfix;
	}
}